@{
    ViewBag.Title = "Login";
}
<!--breadcrumbs area start-->
<div class="breadcrumbs_area" style="padding: 100px 0px">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <h3>My Account</h3>
                    <ul>
                        <li><a href="index.html">home</a></li>
                        <li>My account</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!-- customer login start -->
<div class="customer_login">
    <div class="container">
        <div class="row">
            <!--login area start-->
            <div class="col-lg-6 col-md-6">
                <div class="account_form">
                    <h2>login</h2>
                    <form action="#" class="form form_sign_in">
                        <p class ="login_sign_in">
                            <label >Login<span>*</span></label>
                            <input type="text" placeholder=" ">
                        </p>
                        <p class ="password_sign_in">
                            <label >Passwords <span>*</span></label>
                            <input type="password" placeholder=" ">
                        </p>
                        <div class="login_submit">
                            <a href="#">Lost your password?</a>
                            <label for="remember">
                                <input id="remember" type="checkbox">
                                Remember me
                            </label>
                            <button type="submit" class="login_btn">login</button>

                        </div>
                        <div id="error-messages-singin"></div>
                    </form>
                </div>
            </div>
            <!--login area start-->
            <!--register area start-->
            <div class="col-lg-6 col-md-6">
                <div class="account_form register">
                    <h2>Register</h2>
                    <form action="#" class="form form_sign_up">
                        <p>
                            <label id="sign_up_login">Login<span>*</span></label>
                            <input type="text">
                        </p>
                        <p>
                            <label id="sign_up_email">Email address <span>*</span></label>
                            <input type="email">
                        </p>
                        <p>
                            <label id="sign_up_password">Password<span>*</span></label>
                            <input type="password">
                        </p>
                        <p>
                            <label id="sign_up_confirm_password">Passwords Confirm<span>*</span></label>
                            <input type="password">
                        </p>
                        <div class="login_submit">
                            <button type="submit">Register</button>
                        </div>
                    </form>
                </div>
            </div>
            <!--register area end-->
        </div>
    </div>
</div>
<!-- customer login end -->
<!--brand area start-->
<div class="brand_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="brand_container owl-carousel">
                    <div class="single_brand">
                        <a href="#"><img src="~/img/brand/brand1.png" alt=""></a>
                    </div>
                    <div class="single_brand">
                        <a href="#"><img src="~/img/brand/brand2.png" alt=""></a>
                    </div>
                    <div class="single_brand">
                        <a href="#"><img src="~/img/brand/brand3.png" alt=""></a>
                    </div>
                    <div class="single_brand">
                        <a href="#"><img src="~/img/brand/brand4.png" alt=""></a>
                    </div>
                    <div class="single_brand">
                        <a href="#"><img src="~/img/brand/brand5.png" alt=""></a>
                    </div>
                    <div class="single_brand">
                        <a href="#"><img src="~/img/brand/brand6.png" alt=""></a>
                    </div>
                    <div class="single_brand">
                        <a href="#"><img src="~/img/brand/brand2.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--brand area end-->
